<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fun.test.handset.HandsetRateplanMapper">

    <resultMap id="HandsetRateplanDetailMap" type="org.fun.test.handset.GetHandsetRateplanDetailResponse">
        <id column="mcpId" property="mcpId"/>
        <result column="productNameEn" property="productNameEn"/>
        <result column="productNameTc" property="productNameTc"/>
        <result column="productRemarksTc" property="productRemarksTc"/>
        <result column="productRemarksEn" property="productRemarksEn"/>
        <result column="tmcodeWhitelist" property="tmcodeWhitelist"/>
        <result column="tmcodeBlacklist" property="tmcodeBlacklist"/>
        <result column="sncodeWhitelist" property="sncodeWhitelist"/>
        <result column="sncodeBlacklist" property="sncodeBlacklist"/>
        <result column="isLoginBuy" property="isLoginBuy"/>
    </resultMap>

    <resultMap id="HandsetDetailOfCustMap" type="org.fun.test.handset.GetHandsetDetailOfCustResponse">
        <id property="categoryId" column="categoryId"/>
        <result property="productNameTc" column="productNameTc"/>
        <result property="productNameEn" column="productNameEn"/>
        <result column="productRemarksTc" property="productRemarksTc"/>
        <result column="productRemarksEn" property="productRemarksEn"/>
        <result column="tmcodeWhitelist" property="tmcodeWhitelist"/>
        <result column="tmcodeBlacklist" property="tmcodeBlacklist"/>
        <result column="sncodeWhitelist" property="sncodeWhitelist"/>
        <result column="sncodeBlacklist" property="sncodeBlacklist"/>
    </resultMap>

    <select id="getHandsetRateplanDetail" resultType="org.fun.test.handset.GetHandsetRateplanDetailResponse">
        SELECT
            mcp.id mcpId,
            mcp.name_en productNameEn,
            mcp.name_tc productNameTc,
            mgp.memory_id id,
            mgp.video video,
            mmp.NAME size,
            mhr.sort sort,
            mhr.id marketingProductId,
            mgp.id phoneGroupId,
            mgp.clasue_en specialTncEn,
            mgp.clause_tc specialTncTc,
            mgp.remark_en remarkEn,
            mgp.remark_tc remarkTc,
            mgp.major_function_tc mainFunctionTc,
            mgp.major_function_en mainFunctionEn,
            mgp.phone_specification_tc mainConfigTc,
            mgp.phone_specification_en mainConfigEn,
            mhr.advertising_map_pc_tc advertisingMapPcTc,
            mhr.advertising_map_pc_en advertisingMapPcEn,
            mhr.advertising_map_m_tc advertisingMapMTc,
            mhr.advertising_map_m_en advertisingMapMEn,
            mhr.tmcode_whitelist tmcodeWhitelist,
            mhr.tmcode_blacklist tmcodeBlacklist,
            mhr.sncode_whitelist sncodeWhitelist,
            mhr.sncode_blacklist sncodeBlacklist,
            mhr.is_login_buy isLoginBuy
        FROM
            (
                SELECT
                    tempmhr.sort,
                    tempmhr.id,
                    tempmhr.clasue_en,
                    tempmhr.clause_tc,
                    tempmhr.remark_en,
                    tempmhr.remark_tc,
                    tempmhr.major_function_tc,
                    tempmhr.major_function_en,
                    tempmhr.phone_specification_tc,
                    tempmhr.phone_specification_en,
                    tempmhr.phone_id,
                    tempmhr.advertising_map_pc_tc,
                    tempmhr.advertising_map_pc_en,
                    tempmhr.advertising_map_m_tc,
                    tempmhr.advertising_map_m_en,
                    tempmhr.tmcode_whitelist,
                    tempmhr.tmcode_blacklist,
                    tempmhr.sncode_whitelist,
                    tempmhr.sncode_blacklist,
                    tempmhr.is_login_buy
                FROM
                    miap_handset_reteplan tempmhr where tempmhr.is_release = 'Y' ) mhr
                INNER JOIN miap_group_phone mgp ON mgp.id = mhr.phone_id
                AND mgp.id IN ( 263, 269 )
                inner join miap_category_phone mcp on mcp.id = mgp.category_id
                inner join miap_memory_phone mmp on mmp.id = mgp.memory_id

        ORDER BY
            mmp.sort limit 1
    </select>


    <select id="getHandsetDetailOfCust" resultMap="HandsetDetailOfCustMap">
        select mhr.is_show_list           isShowList,
               mhr.is_recommend           isRecommend,
               mhr.id                     hrId,
               mhr.id					  marketingProductId,
               mhr.pickupWay              outletPickup,
               mhr.sort                   sort,
               mhr.delivery_remark_display deliveryRemarkDisplay,
               mhr.tmcode_whitelist       tmcodeWhitelist,
               mhr.tmcode_blacklist       tmcodeBlacklist,
               mhr.sncode_whitelist       sncodeWhitelist,
               mhr.sncode_blacklist       sncodeBlacklist,

               mhr.advertising_map_pc_tc   advertisingMapPcTc,
               mhr.advertising_map_pc_en   advertisingMapPcEn,
               mhr.advertising_map_m_tc    advertisingMapMTc,
               mhr.advertising_map_m_en    advertisingMapMEn
        from (
                 select is_show_list,
                        is_recommend,
                        phone_specification_en,
                        phone_specification_tc,
                        major_function_en,
                        major_function_tc,
                        remark_en,
                        remark_tc,
                        clasue_en,
                        clause_tc,
                        id,
                        pickupWay,
                        sort,
                        phone_id,
                        delivery_remark_display,
                        advertising_map_pc_tc,
                        advertising_map_pc_en,
                        advertising_map_m_tc,
                        advertising_map_m_en,
                        tmcode_whitelist,
                        tmcode_blacklist,
                        sncode_whitelist,
                        sncode_blacklist
                 from miap_handsetonly_reteplan tempmhr
             ) mhr limit 1
    </select>
</mapper>
