<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fun.ds.mapper.StockMapper">

    <select id="getAllOutLetAddress_test" resultType="java.util.Map">
        SELECT
            t2.code1,
            t2.label1,
            t2.code2,
            t2.label2,
            t2.code3,
            t2.label3,
            CASE
                t2.hasStock
                WHEN 1 THEN
                    'Y' ELSE 'N'
                END AS hasStock,
            t2.gcode AS productCode
        FROM
            (
                SELECT
                    t1.*,
                    MIN( t1.flag ) AS 'hasStock',
                    count( code3 ) AS 'flag2',
                    GROUP_CONCAT( t1.product_code ) AS 'gcode'
                FROM
                    (
                        SELECT
                            md.MAINDISTRICT_NAME AS code1,
                            CASE#{lang,jdbcType=VARCHAR}

                            WHEN 'E' THEN
				MAINDISTRICTNAME_ISO
				WHEN 'T' THEN
				MAINDISTRICTNAME_BIG5
				WHEN 'S' THEN
				MAINDISTRICTNAME_SC ELSE MAINDISTRICTNAME_BIG5
			END AS label1,
			od.District_Name AS code2,
			CASE#{lang,jdbcType=VARCHAR}

                            WHEN 'E' THEN
                            DistrictName_ISO
                            WHEN 'T' THEN
                            DistrictName_BIG5
                            WHEN 'S' THEN
                            DistrictName_SC ELSE DistrictName_BIG5
                            END AS label2,
                            o.SHOP_ID AS code3,
                            CASE#{lang,jdbcType=VARCHAR}

                            WHEN 'E' THEN
                            OUTLETADDRESS_ISO
                            WHEN 'T' THEN
                            OUTLETADDRESS_BIG5
                            WHEN 'S' THEN
                            OUTLETADDRESS_SC ELSE OUTLETADDRESS_BIG5
                            END AS label3,
                            ps.product_code,
                            ps.stock_level,
                            CASE

                            WHEN ps.stock_level >= 9 THEN
                            1 ELSE 0
                            END AS 'flag'
                        FROM
                            `outlet_main_districts` md
                            LEFT JOIN outlet_districts od ON od.Maindistrict_Name = md.MAINDISTRICT_NAME
                            LEFT JOIN outlets o ON o.DISTRICT_NAME = od.District_Name
                            LEFT JOIN miap_product_stock_for_share ps ON ps.shop_id = o.SHOP_ID
                        WHERE

                        <if test="productCodeList != null">
                            and ps.shop_id in
                            <foreach collection="shopIdList" open="(" close=")" separator="," item="shopId">
                                #{shopId,jdbcType=VARCHAR}
                            </foreach>
                        </if>

                          AND o.show_on_1cm = 'Y'
                    ) t1
                GROUP BY
                    code3
                HAVING
                    flag2 > 1
            ) t2
    </select>

    <select id="getAllOutLetAddress" resultType="java.util.Map">
        SELECT
            md.MAINDISTRICT_NAME AS code1,
            case  #{lang,jdbcType=VARCHAR}
                when 'E' then MAINDISTRICTNAME_ISO
                when 'T' then MAINDISTRICTNAME_BIG5
                when 'S' then MAINDISTRICTNAME_SC
                else MAINDISTRICTNAME_ISO
            END AS label1,

            od.District_Name AS code2,
            case #{lang,jdbcType=VARCHAR}
                when 'E' then DistrictName_ISO
                when 'T' then DistrictName_BIG5
                when 'S' then DistrictName_SC
                else DistrictName_ISO
            END AS label2,

            o.SHOP_ID AS code3,
            case #{lang,jdbcType=VARCHAR}
                when 'E' then OUTLETADDRESS_ISO
                when 'T' then OUTLETADDRESS_BIG5
                when 'S' then OUTLETADDRESS_SC
                else OUTLETADDRESS_ISO
            END AS label3

        FROM
            `outlet_main_districts` md
            LEFT JOIN outlet_districts od ON od.Maindistrict_Name = md.MAINDISTRICT_NAME
            LEFT JOIN outlets o ON o.DISTRICT_NAME = od.District_Name
            LEFT JOIN miap_product_stock_for_share ps on ps.shop_id = o.SHOP_ID

        where ps.product_code =  #{productCode,jdbcType=VARCHAR}
            AND  ps.stock_level >= #{count,jdbcType=INTEGER}
            AND  o.show_on_1cm = 'Y'

            <if test="shopIdList != null">
                and ps.shop_id in
                <foreach collection="shopIdList" open="(" close=")" separator="," item="shopId">
                    #{shopId,jdbcType=VARCHAR}
                </foreach>
            </if>

        ORDER BY label1, label2

    </select>

    <select id="getRetrieveMIAPProductList"
            resultType="java.util.Map">
        SELECT
            ps.product_code AS prodCode,
            ps.hs_id AS hsId,
            CONCAT( ps.shop_id, ':', ps.stock_level ) AS outletQuantity
        FROM
            miap_product_stock_for_share ps
        WHERE
            ps.product_code = #{wareHouse.productCode}

        <if test="wareHouse.warehouseCode != 'ALL'">
            AND ps.shop_id in
            <foreach item="item" index="index" collection="list"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        AND ps.stock_level > 0
    </select>

    <select id="getOutLetDistrict" resultType="java.util.Map">

    </select>

</mapper>
