<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fun.test.contractType.dao.IServicePlanDao">

    <resultMap id="ContractResultMap" type="org.fun.test.contractType.entity.Contract">
        <id column="contract_id" jdbcType="INTEGER" property="contractId" />
        <result column="plan_id" jdbcType="INTEGER" property="planId" />
        <result column="tmcode" jdbcType="INTEGER" property="tmcode" />
        <result column="free_minutes_des_tc" jdbcType="VARCHAR" property="freeMinutesDesTc" />
        <result column="free_minutes_des_en" jdbcType="VARCHAR" property="freeMinutesDesEn" />
        <result column="contract_period" jdbcType="VARCHAR" property="contractPeriod" />
        <result column="access_fee" jdbcType="INTEGER" property="accessFee" />
        <result column="plan_des_tc" jdbcType="CLOB" property="planDesTc" />
        <result column="plan_des_en" jdbcType="CLOB" property="planDesEn" />
        <result column="data_tc" jdbcType="VARCHAR" property="dataTc" />
        <result column="data_en" jdbcType="VARCHAR" property="dataEn" />
        <result column="extra_data_tc" jdbcType="VARCHAR" property="extraDataTc" />
        <result column="extra_data_en" jdbcType="VARCHAR" property="extraDataEn" />
        <result column="plan_name_tc" jdbcType="VARCHAR" property="planNameTc" />
        <result column="plan_name_en" jdbcType="VARCHAR" property="planNameEn" />
        <result column="terms_and_conditions_tc" jdbcType="CLOB" property="termsAndConditionsTc" />
        <result column="terms_and_conditions_en" jdbcType="CLOB" property="termsAndConditionsEn" />
        <result column="is_show_in_listing" jdbcType="CHAR" property="isShowInListing" />
        <result column="is_student_plan" jdbcType="CHAR" property="isStudentPlan" />
        <result column="payment_method" jdbcType="CHAR" property="paymentMethod" />
        <result column="admin_fee" jdbcType="VARCHAR" property="adminFee" />
        <result column="mnp_price" jdbcType="VARCHAR" property="mnpPrice" />
        <result column="new_price" jdbcType="VARCHAR" property="newPrice" />
        <result column="more_plan_des_tc" jdbcType="VARCHAR" property="morePlanDesTc" />
        <result column="more_plan_des_en" jdbcType="VARCHAR" property="morePlanDesEn" />
        <result column="contract_remark_tc" jdbcType="VARCHAR" property="contractRemarkTc" />
        <result column="contract_remark_en" jdbcType="VARCHAR" property="contractRemarkEn" />
        <result column="other_data_tc" jdbcType="VARCHAR" property="otherDataTc" />
        <result column="other_data_en" jdbcType="VARCHAR" property="otherDataEn" />
        <result column="contract_data_tc" jdbcType="VARCHAR" property="contractDataTc" />
        <result column="contract_data_en" jdbcType="VARCHAR" property="contractDataEn" />
        <result column="display_group" jdbcType="VARCHAR" property="displayGroup" />
        <result column="tmcode_whitelist" jdbcType="VARCHAR" property="tmcodeWhitelist" />
        <result column="tmcode_blacklist" jdbcType="VARCHAR" property="tmcodeBlacklist" />
        <result column="sncode_whitelist" jdbcType="VARCHAR" property="sncodeWhitelist" />
        <result column="sncode_blacklist" jdbcType="VARCHAR" property="sncodeBlacklist" />
        <result column="is_login_buy" jdbcType="VARCHAR" property="isLoginBuy" />
        <result column="number_choose" jdbcType="VARCHAR" property="numberChoose" />
        <result column="applied_scenario" jdbcType="VARCHAR" property="appliedScenario" />
    </resultMap>

    <sql id="ContractBaseSql">
       contract_id , plan_id , tmcode ,free_minutes_des_en , free_minutes_des_tc , contract_period ,access_fee ,plan_des_tc ,plan_des_en ,data_tc ,data_en ,extra_data_tc ,extra_data_en ,plan_name_tc , plan_name_en ,terms_and_conditions_tc ,terms_and_conditions_en ,offer_code_choose,promote ,is_student_plan ,use_br ,
       upload_hkid_image ,upload_br_image ,upload_address_image ,upload_student_offer_image ,upload_prepaid_iccid,upload_contract_image ,delivery_remark_display ,subscription_method ,allow_esim ,outlet_pickup ,is_show_in_listing,captcha_enable ,is_show_gouw ,is_show_buy_now , payment_method ,new_price ,mnp_price ,admin_fee ,
       keyword,more_plan_des_tc , more_plan_des_en , contract_remark_tc, contract_remark_en , other_data_tc, other_data_en , account_data , pickup_way ,outlets_upload, cmhk_delivery_upload ,         special_delivery_upload , cmhk_locker_upload, ef_locker_upload , use_staffid , use_mylinkcode, contract_data_tc , contract_data_en , promote_information ,
       contract_type_id, new_contract_period , special_url ,special_url_en, contract_child_type_id, other_att, special_delivery, is_special_url,
        tmcode_whitelist, tmcode_blacklist, sncode_whitelist, sncode_blacklist, is_login_buy, number_choose, applied_scenario
    </sql>

    <sql id="ContractDetailSql">
       contract_id as contractId,contract_id as marketingProductId, plan_id as planId, tmcode as tmcode,free_minutes_des_en as freeMinutesDesEn, free_minutes_des_tc as freeMinutesDesTc, contract_period as contractPeriod,access_fee as accessFee,plan_des_tc as planDesTc,plan_des_en as planDesEn,data_tc as dataTc,data_en as dataEn,extra_data_tc as extraDataTc,extra_data_en as extraDataEn,plan_name_tc as planNameTc,
        plan_name_en as planNameEn,terms_and_conditions_tc as termsAndConditionsTc,terms_and_conditions_en as termsAndConditionsEn,offer_code_choose as offerCodeChoose,promote as promote,is_student_plan as isStudentPlan,use_br as useBr,upload_hkid_image as uploadHkidImage,upload_br_image as uploadBrImage,upload_address_image as uploadAddressImage,
        upload_student_offer_image as uploadStudentOfferImage,upload_prepaid_iccid as uploadPrepaidIccid,upload_contract_image as uploadContractImage,delivery_remark_display as deliveryRemarkDisplay,subscription_method as subscriptionMethod,allow_esim as allowEsim,outlet_pickup as outletPickup,
        is_show_in_listing as isShowInListing,captcha_enable as captchaEnable,is_show_gouw as isShowGouw,is_show_buy_now as isShowBuyNow, payment_method as paymentMethod,new_price as newPrice,mnp_price as mnpPrice,admin_fee as adminFee, keyword,more_plan_des_tc as morePlanDesTc, more_plan_des_en as morePlanDesEn,
        contract_remark_tc as contractRemarkTc, contract_remark_en as  contractRemarkEn, other_data_tc as otherDataTc, other_data_en as otherDataEn, account_data as accountData, pickup_way as pickupWay,outlets_upload as outletsUpload, cmhk_delivery_upload as cmhkDeliveryUpload,
        special_delivery_upload as specialDeliveryUpload, cmhk_locker_upload as cmhkLockerUpload, ef_locker_upload as efLockerUpload, use_staffid as useStaffid, use_mylinkcode as useMylinkCode, offer_code_choose as offerCodeChoose, contract_data_tc as contractDataTc, contract_data_en as contractDataEn, promote_information as promoteInformation, contract.contract_type_id as contractTypeId,
        new_contract_period as newContractPeriod, special_url as specialUrlTc,special_url_en as specialUrlEn, other_att as otherAtt, special_delivery as specialDelivery, is_special_url as isSpecialUrl,
        tmcode_whitelist as tmcodeWhitelist,
        tmcode_blacklist as tmcodeBlacklist,
        sncode_whitelist as sncodeWhitelist,
        sncode_blacklist as sncodeBlacklist,
        is_login_buy as isLoginBuy,
        number_choose as numberChoose,
        applied_scenario as appliedScenario
    </sql>

    <sql id="ContractSql">
        contract_id,plan_id,tmcode,free_minutes_des_en,free_minutes_des_tc,contract_period,access_fee,plan_des_tc,plan_des_en,data_tc,data_en ,extra_data_tc ,extra_data_en ,plan_name_tc ,
        plan_name_en ,terms_and_conditions_tc ,terms_and_conditions_en ,offer_code_choose ,promote ,is_student_plan ,use_br ,upload_hkid_image ,upload_br_image ,upload_address_image ,
        upload_student_offer_image ,upload_prepaid_iccid ,upload_contract_image ,delivery_remark_display ,subscription_method ,allow_esim ,outlet_pickup ,
        is_show_in_listing ,captcha_enable ,is_show_gouw ,is_show_buy_now, payment_method, contract_type_id, contract_child_type_id,new_price,mnp_price,admin_fee,keyword,more_plan_des_tc,
        more_plan_des_en,contract_remark_tc,contract_remark_en,other_data_tc,other_data_en,account_data,pickup_way,outlets_upload,cmhk_delivery_upload,special_delivery_upload,cmhk_locker_upload,
        ef_locker_upload,contract_data_tc, contract_data_en, display_group,
        tmcode_whitelist,
        tmcode_blacklist,
        sncode_whitelist,
        sncode_blacklist,
        is_login_buy,
        number_choose,
        applied_scenario
    </sql>

    <select id="getContractList"  resultMap="ContractResultMap">
        select <include refid="ContractSql" /> from miap_onlineshop_contract oc

        <if test='contractTypeClassId != null and contractTypeClassId != "" '>
            left join miap_onlineshop_contract_type occ on occ.type_id = oc.contract_type_id
        </if>

        where
        <if test = 'contractTypeId != null and contractTypeId != "" and (contractTypeChildId == null or contractTypeChildId == "")'>
            oc.contract_type_id = #{contractTypeId,jdbcType=INTEGER}
        </if>
        <if test = 'contractTypeChildId != null and contractTypeChildId != "" '>
            oc.contract_child_type_id = #{contractTypeChildId,jdbcType=INTEGER}
        </if>
        <if test='id != null and id != ""'>
            oc.contract_id = #{id,jdbcType=INTEGER}
        </if>
        <if test='isPreview != "Y"'>
            and (oc.start_date is null or oc.start_date ="" or oc.start_date &lt;= now())
            and (oc.end_date is null or oc.end_date ="" or oc.end_date>= now())
            and oc.online = 'Y'
        </if>
        <if test='isPreview == "Y"'>
            and (oc.start_date is null or oc.start_date = '' or oc.start_date &lt; str_to_date(#{previewDateTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'))
            and (oc.end_date is null or oc.end_date = '' or oc.end_date >=  str_to_date(#{previewDateTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'))
        </if>
        and (oc.hs_id = '' or oc.hs_id is null) and oc.is_show_in_listing = "Y"
        and oc.collector_type != '1'
        and (oc.applied_scenario = 'RO' or oc.applied_scenario = 'BOTH')

        <if test='contractTypeClassId != null and contractTypeClassId != "" '>
            and occ.class_id = #{contractTypeClassId,jdbcType=INTEGER}
        </if>
        order by oc.order_by asc;
    </select>

    <select id="getContractByClassId" resultMap="ContractResultMap">
        SELECT
            oc.*
        FROM
            miap_onlineshop_contract_type oct
                LEFT JOIN miap_onlineshop_contract oc ON oc.contract_type_id = oct.type_id
        WHERE
            oct.class_id = #{classId,jdbcType=INTEGER}
    </select>

</mapper>
